# Copy manually to deploy!!!

[Unit]
Description = isucoin python application

[Service]
LimitNOFILE=102400
LimitNPROC=102400

WorkingDirectory=/home/isucon/isucon2018-final/webapp/python

EnvironmentFile = /home/isucon/isucon2018-final/env
ExecStartPre = /usr/local/bin/pipenv install
ExecStart = /usr/local/bin/pipenv run gunicorn -w10 isucoin:app -b :5000 --access-logfile=-

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
